export(SummarizeContinuousDefault)
export(SummarizeFactorDefault)
export(SummarizeVar)
export(Summarize)
export(LatexNewLine)
export(hline)
export(BeginTable)
export(BeginTabular)
export(caption)
export(label)
export(EndTabular)
export(EndTable)
export(multicolumn)
export(ifelse1)
export(is.whole)
export(OneTo)
export(string2vec)
export(GroupSize, GroupEnum, First, Last)
export(BeforeFirstTrue, AfterFirstTrue, BeforeLastTrue, AfterLastTrue)
export(PasteColumn)
import(tikzDevice)
export(SavePlot)
